/* Joseph Topasna
 * Instr: Mike Freeman
 * INFO 343
 * Layout-Challenge
 * 01 July 15 */

@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

/* Screens smaller than 992px */
@media screen and (max-width: 992px) {
    body {
        background-image: none !important;
        font-size: 16px !important;
    }
    
    main {
       margin: 0px !important;
    }
     
    #tag {
        display: none !important;
     }
    
    #list {
        margin: 0px !important;
  		padding: 0px !important;
  		float: left !important;
    } 
    
    .container-fluid {
    	margin-top: 0px !important;
    	margin-bottom: 0px !important;
    }
}

/* Screens wider than or equal to 992px */
/* Body */
body{
	background-image: url("../img/background.jpg");
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 300;
	background-size: cover; 
	background-attachment:fixed;
}

/* HyperLinks */
a {
  text-decoration: none;
  color: #0000AA;
}

a:hover {
  color:#0000EE;
}

input:focus {
  color:#0000EE;
}

.nav {
  color:#55E;	
}

.nav: hover {
  color:#00E;
}

/* Headers */
.headers {
  font-family:'Raleway';
  font-weight:300;
}

h1 {
  font-size:300%;
  color:#FFFFFF;
  margin: 0px;
}

h2 {
  font-size:150%;
  margin: 0px;

}

h2, h3 {
  color:#505050;
}

/* Main Page Content */
main {
  background-image:url("../img/ricepaper_v3.png");
  background-size: cover;
  margin-left:30%;
  margin-top:20px;
  margin-bottom:20px;
  margin-right:20px;
  opacity: 0.9;
 
}

/* Page Header */
#page-header {
  padding: 1em;
  background-color:#FA5A0F;
  border-bottom:5px solid #EA4A00;
  color: #EEEEEE;
  margin:0px;
}

#navbar {
  top: 10px;
  right: 10px;
} 
 
#list {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline-block;
  margin-right:1em;
}

/* General Info */
#general-info {
  padding: 1em;
}

/* Menu */
#menu {
  padding: 1em;
  background-color: rgba(207,205,140,0.5);
}

dt {
  font-weight:400;
}

dd {
  font-size:80%;
  font-style:italic;
  margin-left:1em;
  margin-bottom:1em;
}

/* About Us */
#about-us {
  padding:1em;
}

/* Page Footer*/
#page-footer {
  padding:1em;
  background-color:#FC892F;
  border-top:5px solid #EC791F;
  text-align:right;
}


